<html>
  <head>
    <meta charset="UTF-8" />
    <title>Gallery</title>
    <style>
      .card { display: inline-block; width: 300px; margin: 10px; padding: 10px;
      border: 1px solid #ccc; border-radius: 5px; } .card img { width: 100%;
      height: auto; }
    </style>
  </head>
  <body>
    <h1>Gallery</h1>

    {{#each galleryItems}}
      <div class="card">
        <img src="{{this.FILENAME}}" alt="{{this.DESCRIPTION}}" />
        <h2>{{this.DESCRIPTION}}</h2>
        <p>Price: {{this.PRICE}}</p>
        <p>Status : {{#if (eq this.STATUS "s")}}Sold{{else}}Available{{/if}}</p>
        {{#if (eq this.STATUS "s")}}
          <button class="order-button" data-id="{{this._id}}" disabled>Sold Out</button>
        {{else}}
          <button class="order-button" data-id="{{this._id}}">Order</button>
        {{/if}}
      </div>
    {{/each}}

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      const galleryItems =
      {{{json galleryItems}}}; $('.order-button').click(function() { const
      productId = $(this).attr('data-id'); window.location.href = '/order/' +
      productId; });
    </script>
  </body>
</html>